In [2]:
print("hii all \n stay home stay safe")

hii all
 stay home stay safe

In [ ]:
we will wait for 2min

## organizing a list

In [ ]:
### requirement------>i want to organize a list in alhabetical order

In [3]:
mystudents=['ramya','hari','pardhu','pavan','naveen','john','ammu']

In [4]:
print(mystudents)

['ramya', 'hari', 'pardhu', 'pavan', 'naveen', 'john', 'ammu']

In [6]:
mystudents.sort()          ## sort the list in alhabetical order

In [7]:
print(mystudents)

['ammu', 'hari', 'john', 'naveen', 'pardhu', 'pavan', 'ramya']

In [8]:
mystudents.reverse()          ## reverse the list

In [9]:
print(mystudents)

['ramya', 'pavan', 'pardhu', 'naveen', 'john', 'hari', 'ammu']

In [10]:
len(mystudents)

7

In [ ]:
### copy of list

In [11]:
my_food=['biryani','puttu','cake','carrot','rice']

In [12]:
print(my_food)

['biryani', 'puttu', 'cake', 'carrot', 'rice']

In [13]:
friend_food=my_food[:]

In [14]:
print(friend_food)

['biryani', 'puttu', 'cake', 'carrot', 'rice']

In [ ]:
## Negative index

In [15]:
print(mystudents)

['ramya', 'pavan', 'pardhu', 'naveen', 'john', 'hari', 'ammu']

In [ ]:
mystudents=['ramya','hari','pardhu','pavan','naveen','john','ammu']

              0        1        2      3        4       5      6---------------------->+ve index
               -7        -6         -5       -4          -3       -2        -1--------->-ve index

In [17]:
print(mystudents[-6].upper())

PAVAN

In [18]:
print(mystudents[-9])

IndexError: list index out of range

In [ ]:
### Slicing of list----------------------->grouping

In [26]:
students=['sai','neeha','keerthi','meghana','chintu','mounika','anitha']

In [27]:
print(students)

['sai', 'neeha', 'keerthi', 'meghana', 'chintu', 'mounika', 'anitha']

In [28]:
print(students[1:3])

['neeha', 'keerthi']

In [29]:
print(students[1:4])

['neeha', 'keerthi', 'meghana']

In [30]:
print(students[-4])

meghana

In [34]:
print(students[-2].title())

Mounika

In [ ]:
## looping statements------------------>for loop

In [35]:
print(mystudents)

['ramya', 'pavan', 'pardhu', 'naveen', 'john', 'hari', 'ammu']

In [37]:
for w in mystudents:
    print(w)

ramya
pavan
pardhu
naveen
john
hari
ammu

In [38]:
print('here are my participants:')
for w in mystudents:
    print(w)

here are my participants:
ramya
pavan
pardhu
naveen
john
hari
ammu

##  introduction about tuple data type

In [ ]:
### tuple-------------->Collection of elements or items

In [ ]:
list                                  Tuple
[]                                      ()
mutable datatype                     immutable datatype
[1,u,8.8]                              (1,2,3,4)
add
delete                                  we cant add new elements
update

In [39]:
s=[1,'sruthi',9.7,6]

In [40]:
print(s)

[1, 'sruthi', 9.7, 6]

In [44]:
type(s)

list

In [ ]:
## create a tuple
### add elements or not
### update the elements
#### delete the elements
#### slicing

In [ ]:
### how to declare a tuple------------>()

In [ ]:
tuple_name=value

In [41]:
dimensions=(200,88)

In [42]:
print(dimensions)

(200, 88)

In [43]:
type(dimensions)

tuple

In [46]:
dimensions[1]=500

TypeError: 'tuple' object does not support item assignment

In [47]:
dimensions=(66,200,88,700)

In [48]:
print(dimensions)

(66, 200, 88, 700)

In [50]:
print(dimensions[0])

66