In [1]:
print("hii all good evening")

hii all good evening

In [ ]:
### updating a tuple

In [2]:
a=(44,88,67,363,89,67,45,768,536)       
b=(22,89,56,37,98,67,554,87,434)
c=a+b

In [3]:
print(c)

(44, 88, 67, 363, 89, 67, 45, 768, 536, 22, 89, 56, 37, 98, 67, 554, 87, 434)

In [ ]:
d=(44,8,5,8,23,99)----------------------------------------->tuple 
d=()-------------------------------------------------------->empty tuple
d=(5)------------------------------------------------------>it is not a tuple
d=(4,)------------------------------------------------------>tuple

In [4]:
c=()

In [5]:
print(c)

()

In [6]:
type(c)

tuple

In [7]:
x=(3)

In [8]:
print(x)

3

In [9]:
type(x)

int

In [10]:
c=(7,)

In [11]:
print(c)

(7,)

In [12]:
type(c)

tuple

In [ ]:
## deleting a tuple

In [13]:
a=(2,55,89,6575,886,99)

In [14]:
del a

In [15]:
print(a)

NameError: name 'a' is not defined

In [16]:
city=('hyd','chennai','pune','ongole','mumbai','bnglr')

In [17]:
print(city)

('hyd', 'chennai', 'pune', 'ongole', 'mumbai', 'bnglr')

In [18]:
type(city)

tuple

In [19]:
mix_tuple=('delhi','food','city','place',7,9,4,88)

In [20]:
print(mix_tuple)

('delhi', 'food', 'city', 'place', 7, 9, 4, 88)

In [21]:
type(mix_tuple)

tuple

In [ ]:
### slicing of tuple

In [ ]:
[:]

In [22]:
a=(1,3,5,6,7,85,44,55,66,87,673,67,87,45,343,879)

    0 1 2 3 4 5  6  7  8  9  10  11 12 13 14  15

In [23]:
print(a)

(1, 3, 5, 6, 7, 85, 44, 55, 66, 87, 673, 67, 87, 45, 343, 879)

In [34]:
print(a[-6])

673

In [24]:
type(a)

tuple

In [25]:
len(a)

16

In [26]:
a[1:5]

(3, 5, 6, 7)

In [27]:
a[0:2]

(1, 3)

In [29]:
a[ :15]

(1, 3, 5, 6, 7, 85, 44, 55, 66, 87, 673, 67, 87, 45, 343)

In [30]:
a[1: ]

(3, 5, 6, 7, 85, 44, 55, 66, 87, 673, 67, 87, 45, 343, 879)

In [32]:
a[:]

(1, 3, 5, 6, 7, 85, 44, 55, 66, 87, 673, 67, 87, 45, 343, 879)

In [31]:
a[0:4,2:8]

TypeError: tuple indices must be integers or slices, not tuple

# Introduction about user accepting inputs

In [ ]:
Facebook:

user name:--------->unique
    
full_name:----------->
    
Dob------------------->

password--------------->strong/highly protective

In [ ]:
process to login : username and password-------------------->login--------------->verifying our database and matches---->it give access
    
    if it is wrong database------------------->incorrect password,try again

In [36]:
message=input('tell me something i will repeat back for you:')
print(message)

tell me something i will repeat back for you:good evening all
good evening all

In [ ]:
## enhancement              hii sai,welcome back to amazon

In [40]:
name=input('please enter your name:')
print(f"\n welcomeback , good to have you on amazon,{name.title()}")

please enter your name:sravani

 welcomeback , good to have you on amazon,Sravani